* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/* Nav Page */
ul img {
	float: left;
}


.right-nav {
	text-align: right;
}
nav {
	background-color: white;
	position: sticky;
	padding: 1rem 5rem 1rem 5rem;
	top: 0;
	z-index: 1;
}

nav li {
	list-style: none;
}

.nav {
	display: inline;
	padding: 1rem;
	font-weight: bold;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 50px;
	border: 0px none;
}

/* Landing Page */
#bg-image {
	background-image: url(./images/pic.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 60vh;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height: 60vh;
}
.container {
	width: 750px;
	text-align: right;
	float: right;
	padding-right: 6rem;
	position: relative;
}

.title {
	font-size: 3rem;
	font-family: 'Zilla Slab', serif;
	color: white;
	display: block;
}
.subtitle {
	font-size: 1rem;
	color: white;
	font-weight: normal;
	padding-left: 20rem;
	padding-bottom: 1rem;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	padding: 0.5rem 2rem 0.5rem 2rem;
	border-radius: 50px;
	border: 0px none;
}

/* Intro Section */
.intro {
	padding-top: 3rem;
	text-align: center;
}

.title-2 {
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
	font-size: 2rem;
	padding-bottom: 3rem;
	display: inline-block;
	width: 100%;
}
.intro-description {
	min-width: 50%;
	padding-bottom: 3rem;
	margin: auto;
	width: 50%;
}

/* Pre-footer section */
.pre-footer {
	padding-top: 5rem;
	background-color: #f7fbfb;
	text-align: center;
	padding-bottom: 5rem;
}
.prefooter-description {
	min-width: 50%;
	padding-bottom: 1rem;
	justify-content: center;
	text-align: center;
	display: inline-block;
	width: 50%;
}
.book-button {
	background-color: #336589;
	color: white;
	padding: 0.5rem 2rem 0.5rem 2rem;
	border-radius: 50px;
	border: 0;
	display: block;
	margin: auto;
	font-weight: bold;
}
footer {
	text-align: center;
	padding-top: 1rem;
}
footer > span {
	padding: 0 1rem 2rem 1rem;
}